/*! generateur de fonte par fontsquirrel */
@font-face {
  font-family: 'ralewaythin';
  src: url('raleway-thin-webfont.woff2') format('woff2'),
      url('raleway-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html
{
font-size:62.5%;
}
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#bloc_page
{
margin-top:5rem;
margin-left:29rem;
width:auto;

}
body
{
font-family:'ralewaythin';
}
/*header*/
header.top
{
display:flex;
flex-direction: row;
width:133rem; 
margin:0; 
padding:0;

}
 h1.findheberg

{
  font-size:1.8rem;
  font-family:'ralewaythin';
  margin-bottom:2rem;

  
}
.btn_inscrire
{
display:block;
font-size:1.8rem;
padding-top:2.4rem;


}
a.btn_inscrire 
{
text-decoration:none;
margin-right:7.5rem;
}
a.btn_inscrire:hover
{
color:#0065fc;
}
.logo img
{
height:4rem;
width:10rem;
margin-left:0rem;
}
.logo
{
  display:flex;
  flex:1;
}
 .top ul
{
display:flex;
flex-basis:100%;
}
 .top ul li
{
flex-basis:50%;
margin-right:4rem;
padding-top: 2.8rem;

}
.top nav ul
{
display:flex;
list-style: none;
}
a.acti,a.heb
{
text-decoration: none;
list-style: none;
font-size:1.8rem;
color:black;
}
 a.acti:hover,a.heb:hover
{
color: #0065fc;
border-top:solid #0065FC;
padding-top: 2.8rem;

}
/*end HEADER*/
/* /*tous les filtres et l icone de resultat */

.descrip
{
font-weight:400;
font-size:1.6rem;
margin-left:0;


}
#barre
{
display:flex;
justify-content: flex-start;
width:100%;
height:5.5rem;
margin-left:0;
color:white;
margin-top:4rem;
margin-bottom:4rem;
}
#barre i
{ 
  display:flex;
  justify-content:center;
  align-items:center;
  padding-left:1.5rem;   
  color:rgb(5, 5, 5);
  background-color:gray;
  border-radius:1.5rem 0rem 0rem 1.5rem;
  width:5.5rem;
  height:5.5rem;
  Font-size:1.8rem;
}
.ville
{
display:flex;
justify-content:center;
align-items:center;
color:rgb(10, 10, 10);
border-right-width:0;
padding-left:0.3rem;
width:22rem;
height:5.5rem;
}
#édition_client 
{
display:flex;
border:solid rgba(204, 203, 203, 0.842) 0.05rem;
height:5.5rem;
width: 22rem;  
padding-left:3.5rem;
border-left-style:none;
border-right-style:none;
Font-size:1.8rem;
font-weight:700;
}
.rechercher
{
  display:flex;
  background-color:blue;
  color:white;
  font-weight:bold;
  width:14rem;
  justify-content:center;
  align-items:center;
  font-size:1.6rem;
  font-weight:700;  
  border-radius: 0rem 1.5rem 1.5rem 0;
}
#barre i.fa.fa-search {
  color: white;
  display:none;
}
/*filtres*/
.all_filters
{
display:flex; 
flex-wrap:wrap;
margin-top:3.5rem;  
font-family: 'ralewaythin';
font-weight:bold;
margin-left:0;
font-size:1.8rem;
}
.Filtre1
{
display:flex;
margin-top:1.2rem;
margin-right:2.5rem;
font-family:'ralewaythin';
font-size:2.4rem;
}
.filtres
{
border:solid black 0.2rem;
display:flex;
align-items: center;
border-radius:3.2rem 3.2rem 3.2rem 3.2rem;
border:solid rgb(119, 184, 238) 0.2rem;
width:18rem;
height:4.8rem; 
margin-right:2.5rem;  
}
a.filtres 
{
display:flex;
text-decoration:none;
}
.filtres:hover
{
background-color: #DEEBFF;   
}
.Font_border
{
display:block;
display:flex;
align-items:center;
justify-content:center;
background-color: #DEEBFF;
border:solid rgb(119, 184, 238) 0.2rem;
border-radius:50% ;
width:5rem;
height:5rem;
text-align:center;   
}
.titres_filtres
{
color:black;
padding-left:1.5rem;
}
.icoandresult
{
  display:flex;
  align-items:baseline;
  margin-bottom:2rem;
  
}
/*Barre de recherche*/
.rechercher
{
  display:flex;
  background-color:blue;
  color:white;
  font-weight:bold;
  width:14rem;
  justify-content:center;
  align-items:center;
  font-size:1.6rem;
  font-weight:700;  
  border-radius: 0rem 1.5rem 1.5rem 0;
}
.rechercher a
{
  text-decoration:none;
  color:white;
}

.commentaire_recherche
{ 
font-family:'ralewaythin';
font-size:1.6rem;
padding-left:3.2rem;
font-weight:400;
}

.bloc_heberg_popu /*section liant cards heberg et populaires*/
{
display:flex;
flex-direction: column;
flex-wrap: wrap;
margin-top: 3rem;
width:133rem;
height:52rem;
margin-bottom:4.5rem;

 }
 .bloc_heberg_popu a
   { 
    text-decoration: none;
    color: black;
    width:40rem;
  }
 /*reglages couleurs etoiles*/
 :root
 {
  --primary-color: #0065FC;
  --secondary-color: #DEEBFF;
  --tertiary-color: #F2F2F2;
  --tertiary-color-alt: #D9D9D9;
}
.staravis i
{
  color:#0065fc;
}
.fa-star {
color: var(--primary-color);
}
.fa-star.unchecked {
color: var(--tertiary-color-alt);
}
/*bloc liants titres et cards hebergements*/
  
  .titres_hosting_main_cards
  {
  
    width:88rem;
    height:52rem;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
    margin-right:4rem;
  }
.hosting_main_cards
{ 
display:flex;
align-items:center;
flex-wrap:wrap;
width:88rem;
height:45rem;
box-sizing: border-box;
margin-right:2em;
}
.more
{
font-size:1.8rem;
font-weight:700;
margin-left:4rem;
}
.hostingcards
{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  height:18rem;
  width:23.6rem;
  background-color:#ffffff;
  border-radius: 1.8rem; 
  padding-right:1rem;
  padding-left:1rem;
  padding-top:1rem ;
  margin-left:3rem;
  
}
/*titres haut et bas bloc hebergements*/
#Hébergement 
{
  display:flex;
color:black;
font-size:2.4rem; 
margin-left:3.5rem;
visibility:hidden;
}
.more_view
{
font-size:1.8rem;
font-weight:700;
margin-left:4rem;

}

/*cards images et contenus*/

.hosting_main_cards a img
{
  
  height:11rem;
  width:24rem;
  border-radius:1rem 1rem 0 0;
  object-fit:cover;
}

.staravis
{
margin:0 0.75rem 0.25rem 0.75rem;
}
.CardTitle
{
  
  font-weight: bold;
  margin:0.25rem 0.75rem 0 0.75rem;
  font-size:1.87rem;
}
.cart_description 
{
  display:flex;
  font-size:1.6rem;
  margin:0.25rem 0.75rem 0.25rem 0.75rem;
}
/*travail css sur le bloc de droite populaires*/

aside h1 
{

  font-size:2.4rem;
  font-weight:700;
}
.right_sideheberg
{ 
  
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  background-color: #F2F2F2;
  width:42rem;
  height:52rem;
  border-radius:1.5rem;


  
  
}
.popular_cards 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 1.25rem;
  margin-right: 1.875rem; 
}
.descriptionpopu
{
  display:flex;
  flex-direction: column;
}

article  {
  display: flex;
  width:35rem;
  margin: 1rem 2rem 0.5rem 1.5rem;
  padding:0.35rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.1rem 0.5rem 0.2rem rgb(209 209 209);
  
}

aside img 
{
  width: 12.8rem;
  height:12.5rem;
  border-radius: 1rem 0 0 1rem;
  object-fit:cover;
  flex-shrink:0;
}
aside div:first-child
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
  margin-left:1.5rem;

}
aside div:first-child i {
  color: black;
  margin-top: 0.5rem;
  font-size:2.5rem;
}

.CardTitleAside
{ 
margin:0.35rem 0.75rem 0 1.2rem;
font-size:1.87rem;
font-weight:700;
}
.cart_description_Aside
{
  
  margin-left:1.2rem;
  font-size:1.6rem;
  margin-top:0;
}
p.stars_Aside 
{
  display:flex;
  justify-content: flex-end;
  width:6.5rem;
  margin-left:1.2rem;

}
/*container sections gauche et droite activites*/
h1#Activités
{
  margin-bottom:1.5rem;
margin-top:2.5rem;
}
#main2
{
  display:flex;

}
/*bloc gauche et droite activites*/
.activites1
{
  display:flex;
  width:65rem;
  height:44.5rem;
}

.activites2
{
display:flex;
width:65rem;
height:44.5rem;
padding-left:3.8rem;   
}

.activites1 a,.activites2 /*tous les liens des deux sections bloc acti*/
{
  text-decoration: none;
  color:black;
}


/*bloc images activités*/
img.vp
{
    width:30rem; 
    height:39rem;
    border-radius:1.5rem 1.5rem 0 0;
    object-fit:cover;
}
img.fort_pomegues 
{
    width:30rem;
    height:18rem;
    object-fit: cover;
    border-radius:1.5rem 1.5rem 0 0;
      
}
img.idf 
{
width:30rem;
height:11rem; 
object-fit:cover;
border-radius:1.5rem 1.5rem 0 0;
}

.jumelé 
{       
display:flex;
flex-direction:column;
height:44.5rem;
width:30rem;
margin-left:4.4rem;
}

/*bloc containers cards*/
.acticard1
{
display:flex;
height:44.5rem;
width:30rem;
box-shadow:0 0 2rem #afaeaed7;
border-radius:1.5rem 1.5rem 0 0;

}
.acticard2
{
  display:flex;
  height:23.5rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;
}
.acticard3
{
  display:flex;
  height:16rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;
  margin-top:5rem;
}
.titleactivity
{
font-size:1.8rem;
margin:0.1rem 1.5rem 0 3rem;
}
.acticard4
{
  display:flex;
height:44.5rem;
width:30rem;
box-shadow:0 0 2rem #afaeaed7;
border-radius:1.5rem 1.5rem 0 0;
}
.jumelé2
{
  display:flex;
flex-direction:column;
height:44.5rem;
width:30rem;
margin-left:4.4rem;
}
.acticard5
{
  display:flex;
  height:23.5rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;

}
.acticard6
{
  display:flex;
  height:16rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;
  margin-top:5rem;
}
img.parc_calanques
{
  height:39rem;
    width:30rem;
    border-radius:1.5rem 1.5rem 0 0;
    object-fit:cover;
}
img.ndg
{
  width:30rem;
    height:18rem;
    object-fit: cover;
    border-radius:1.5rem 1.5rem 0 0;
      
}
img.parc
{
  width:30rem;
height:11rem; 
object-fit:cover;
border-radius:1.5rem 1.5rem 0 0;
}
/*footer*/
footer h3 
{
  font-size:1.8rem;
}
a
{
  text-decoration:none;
  color:black;
}
.endbloc
{
  display:flex;
  justify-content:center;
  background-color: #F2F2F2;
  margin-top: 8rem;
  width:80%;
  margin-left:20rem;

}
.nav_footer1,.nav_footer2,.nav_footer3
{
  width:33%;
  line-height:2.5;
}

footer li
{
  font-size: 1.8rem;
}
footer nav ul
{
list-style:none;
}
@media screen and (max-width: 600px) 
{  

  /*header*/

  *
  {
    margin:0;
    padding:0;
  }
  #bloc_page
  {
    margin-left: 0;
  }
  header.top
  {  display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;
    height:10rem;
    margin-left:0;   
  }
  a.heb :hover,a.acti:hover
  {
    
    border-bottom:solid #0065fc 0.2rem;
    width:100%;
    padding-bottom:1.3rem;
    
  }
  
  nav
  {
    display:flex;
  justify-content: space-between;
  order:3;
  
  }
  nav ul li
  {
    display:flex;
    flex-basis:50%
  }
   ul
  {   
    display:flex;
    width:100% ;
  flex-basis:100%;
  text-decoration:none;
  font-size:1.8rem ;
  list-style: none;
  }
  
a.acti,a.heb
  {
    text-decoration:none;
  }
  a.acti:hover,a.heb:hover
  {
  color: #0065fc;
  border-top:solid #0065FC;
  
  }
  img.logo 
  {
    height:5rem;
    width:9rem;
    margin:0;
    border:solid black 0.2rem hidden;
    padding-left:0;
  }
  .logo
  {
    display:flex;
    padding-left:2rem;
  }
  a.btn_inscrire
  {
    display:flex;
    justify-content: flex-end;
  font-size:1.8rem;
  text-decoration:none;
    
    
  }
  a.btn_inscrire:hover
  {
    color:#0065fc;
  }
 h1.findheberg
  {
    padding-left:2rem;
  }
  /*filtres et recherche*/
  
  .descrip
  {
    font-size:1.4rem;
    padding-left:2rem;
  }
  #barre
    {
      display:flex;
      justify-content:center;
    }
    i.fas.fa-search
  { 
      font-size:1.8rem;  
    }
    
    i.fas.fa-search
    {
      display:flex;
      justify-content:center;
      align-items:center;
      width:5rem;
      height:5rem;
      border:solid black 0.2rem;
      font-size:1.8rem;
    }
    i.fas.fa-map-marker-alt
    {
      display:flex;
      justify-content:center;
      align-items:center;
      width:5rem;
      height:5rem;
      border:solid black 0.2rem;
      font-size:1.8rem;
    }
  
    /* filtres sociaux*/
    .all_filters
    {
      padding-right:2rem;
      border:solid red 0.2rem;
      margin-left:2rem;
    }
      
  a.filtres 
    {
    display:flex;
   text-decoration:none;
   color:black;
   font-size: 1.8rem;
  
    }
    a.filtres#text
    {
      border:solid black 0.2rem;
    }
    .Font_border
    {
      color:#0065fc;
    }
  
    .Filtre1
    {
    display:flex;
    margin-top:1.2rem;
    font-family:'ralewaythin';
    font-size:2.4rem;
    padding-left:2rem;
    }
   
    .Font_border
    {
    display:block;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #DEEBFF;
    border:solid rgb(119, 184, 238) 0.2rem;
    border-radius:50% ;
    width:5rem;
    height:5rem;
    text-align:center;   
    }
    .filtres
    {
    border:solid black 0.2rem;
    display:flex;
    align-items: center;
    border-radius:3.2rem 3.2rem 3.2rem 3.2rem;
    border:solid rgb(119, 184, 238) 0.2rem;
    width:18rem;
    height:4.8rem;   
    }
    .filtres:hover
    {
    background-color: #DEEBFF;   
    }
    .ville
    {
    display:flex;
    
    color:rgb(10, 10, 10);
    border-right-width:0;
    height:5.5rem;
    }
   
    
    #édition_client 
    {
    display:flex;
    border:solid rgba(204, 203, 203, 0.842) 0.05rem;
    height:5.5rem;
    width: 23rem;  
    border-left-style:none;
    border-right-style:none;
    Font-size:1.8rem;
    font-weight:700;
    }
    .rechercher
    {
      display:none;
    }
    #barre.fa-search
    {
      border:solid black 0.2rem;
      display:block;
    }
  }