/*! generateur de fonte par fontsquirrel */
@font-face {
  font-family: 'ralewaythin';
  src: url('raleway-thin-webfont.woff2') format('woff2'),
      url('raleway-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html
{
font-size:62.5%;
}
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.bloc_page
{
margin:0 290px;


}
body
{
  font-size:1.4rem;
font-family:"raleway","Trebuchet MS",Arial,sans-serif;
}
/*header*/
header
{
display:flex;
}
 h1

{
  font-size:1.8rem;
  font-family:'ralewaythin';
  margin-bottom:2rem;

}
#register
{
margin-right:4rem;
padding-top:4rem;
font-size:1.4rem;

}
#register a:hover
{
color:#0065fc;
text-decoration: none;
}
#register a
{
  text-decoration:none;
  color:black;
}

  #logo
   {
    flex: 1;
    width: 100px;
    padding-top: 35px;
    
  }
  
    nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    padding-top: 40px;
    margin-right: 40px;
    padding-right: 35px;
    padding-left: 35px;
  }
  
   header nav ul li:hover {
    border-top: 3px solid #0065fc;
    padding-top: 37px;
  }
  
  header nav ul a:hover {
    color: #0065fc;
  }
  header nav ul a
  {
    text-decoration:none;
    color:black;
  }


/*end HEADER*/
/* /*tous les filtres et l icone de resultat */

.descrip
{
font-weight:400;
font-size:1.6rem;
margin-left:0;


}
#barre
{
display:flex;
justify-content: flex-start;
width:100%;
height:5.5rem;
margin-left:0;
color:white;
margin-top:4rem;
margin-bottom:4rem;
}
#barre i
{ 
  display:flex;
  justify-content:center;
  align-items:center;
  padding-left:1.5rem;   
  color:rgb(5, 5, 5);
  background-color:gray;
  border-radius:1.5rem 0rem 0rem 1.5rem;
  width:5.5rem;
  height:5.5rem;
  Font-size:1.8rem;
}
.ville
{
display:flex;
justify-content:center;
align-items:center;
color:rgb(10, 10, 10);
border-right-width:0;
padding-left:0.3rem;
width:22rem;
height:5.5rem;
}
#édition_client 
{
display:flex;
border:solid rgba(204, 203, 203, 0.842) 0.05rem;
height:5.5rem;
width: 22rem;  
padding-left:3.5rem;
border-left-style:none;
border-right-style:none;
Font-size:1.8rem;
font-weight:700;
}
.rechercher
{
  display:flex;
  background-color:blue;
  color:white;
  font-weight:bold;
  width:14rem;
  justify-content:center;
  align-items:center;
  font-size:1.6rem;
  font-weight:700;  
  border-radius: 0rem 1.5rem 1.5rem 0;
}
#barre i.fas.fa-search {
  color: white;
  display:none;
}
/*filtres*/
#filters a
{
  text-decoration:none;
  color:black;
}
.all_filters
{
display:flex; 
flex-wrap:wrap;
margin-top:3.5rem;  
font-family: 'ralewaythin';
font-weight:bold;
margin-left:0;
font-size:1.8rem;
}

div.filter
{
border:solid black 0.2rem;
display:flex;
align-items: center;
border-radius:3.2rem 3.2rem 3.2rem 3.2rem;
border:solid rgb(119, 184, 238) 0.2rem;
height:4.8rem; 
margin-right:2.5rem; 
padding-right:15px;
border-left:none; 
}
a.filter 
{
display:flex;
text-decoration:none;
color:black;
}
.filter:hover
{
background-color: #DEEBFF;   
}
div.filter div
{
display:flex;
align-items:center;
justify-content:center;
background-color: #DEEBFF;
border:solid rgb(119, 184, 238) 0.2rem;
border-radius:50% ;
width:5rem;
height:5rem;
text-align:center;
color: #0265FC;
}
.titres_filtres
{
color:black;
padding-left:1.5rem;
}
.icoandresult
{
  display:flex;
  align-items:baseline;
  margin-bottom:2rem; 
}
.icoandresult i
{
  color: #0265FC;
border-radius: 50%;
border: #ccc solid 1px;
padding: 1rem 1.5rem;
margin-right: 1rem;
margin-top:2rem; 
}

/*Barre de recherche*/
.rechercher
{
  display:flex;
  background-color:blue;
  color:white;
  font-weight:bold;
  width:14rem;
  justify-content:center;
  align-items:center;
  font-size:1.6rem;
  font-weight:700;  
  border-radius:0 1.5rem 1.5rem 0;
}
.rechercher a
{
  text-decoration:none;
  color:white;
}

.commentaire_recherche
{ 
font-family:'ralewaythin';
font-size:1.6rem;
padding-left:3.2rem;
font-weight:400;
}

/*section liant cards heberg et populaires*/
.bloc_heberg_popu 
{
display:flex;
width:133rem;
flex-direction: column;
flex-wrap: wrap;
margin-top: 3rem;
height:52rem;
margin-bottom:4.5rem;


 }
 .bloc_heberg_popu a
   { 
    text-decoration: none;
    color: black;
    width:40rem;
  }
 /*reglages couleurs etoiles*/
 :root
 {
  --primary-color: #0065FC;
  --secondary-color: #DEEBFF;
  --tertiary-color: #F2F2F2;
  --tertiary-color-alt: #D9D9D9;
}
.staravis i
{
  color:#0065fc;
}
.fa-star {
color: var(--primary-color);
}
.fa-star.unchecked {
color: var(--tertiary-color-alt);
}
/*bloc liants titres et cards hebergements*/
  
  .titres_hosting_main_cards
  {
  
    width:88rem;
    height:55rem;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
    border:solid blue 0.2rem;
    margin-right:4rem;
    
    
  }
.hosting_main_cards
{ 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 88rem;
    height: 45rem;
    box-sizing: border-box;
    margin-right: 2em;
    border:solid green 0.2rem;
  }

.more
{
font-size:1.8rem;
font-weight:700;
margin-left:4rem;
}
.hosting_cards
{
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  width:24rem;
  background-color:#ffffff;
  border-radius: 1.8rem; 
  padding-right:1rem;
  padding-left:1rem;
  padding-top:1rem ;
  margin-left:3rem;
  border:solid orange 0.2rem;
  
  
}
/*titres haut et bas bloc hebergements*/
#Hébergement 
{
  display:flex;
color:black;
font-size:2.4rem; 
margin-left:.5rem;

}
.more_view
{
font-size:1.8rem;
font-weight:700;
margin-left:4rem;

}

/*cards images et contenus*/

.hosting_main_cards a img
{
  
  height:11rem;
  width:21.5rem;
  border-radius:1rem 1rem 0 0;
  object-fit:cover;
}

.staravis
{
margin:0 0.75rem 0.25rem 0.75rem;
}
.CardTitle
{
  
  font-weight: bold;
  margin:0.25rem 0.75rem 0 0.75rem;
  font-size:1.87rem;
}
.cart_description 
{
  display:flex;
  font-size:1.6rem;
  margin:0.25rem 0.75rem 0.25rem 0.75rem;
}
/*travail css sur le bloc de droite populaires*/

aside h1 
{

  font-size:2.4rem;
  font-weight:700;
}
.right_sideheberg
{  
  display:flex;
  flex-direction:column;
  background-color: #F2F2F2;
  width:40rem;
  height:52rem;
  border-radius:1.5rem; 
}
.bloc_popular_cards 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 1.25rem;
  margin-right: 1.875rem; 
}
.descriptionpopu
{
  display:flex;
  flex-direction: column;
  width:20rem;
}

article  {
  display: flex;
  width:35rem;
  height:14.5rem;
  margin: 1rem 2rem 0.5rem 1.5rem;
  padding:0.35rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.1rem 0.5rem 0.2rem rgb(209 209 209);
  
}

aside img 
{
  width: 12.8rem;
  height:12.5rem;
  border-radius: 1rem 0 0 1rem;
  object-fit:cover;
  flex-shrink:0;
}
aside div:first-child
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
  margin-left:1.5rem;

}
aside div:first-child i {
  color: black;
  margin-top: 0.5rem;
  font-size:2.5rem;
}

.CardTitleAside
{ 
margin:0.35rem 0.75rem 0 1.2rem;
font-size:1.87rem;
font-weight:700;
text-align:justify;
}
.cart_description_Aside
{
  
  margin-left:1.2rem;
  font-size:1.6rem;
  margin-top:0;
}
p.stars_Aside 
{
display:flex;
  width:6.5rem;
  margin-left:2.2rem;
  padding-top:3rem;

}
/*container sections gauche et droite activites*/
h1#Activités
{
  margin-bottom:1.5rem;
margin-top:2.5rem;
}
#main2
{
  display:flex;

}
/*bloc gauche et droite activites*/
.activites1
{
  display:flex;
  width:65rem;
  height:44.5rem;
}

.activites2
{
display:flex;
width:65rem;
height:44.5rem;
padding-left:3.8rem;   
}

.activites1 a,.activites2 a /*tous les liens des deux sections bloc acti*/
{
  text-decoration: none;
  color:black;
}


/*bloc images activités*/
img.vp
{
    width:30rem; 
    height:39rem;
    border-radius:1.5rem 1.5rem 0 0;
    object-fit:cover;
}
img.fort_pomegues 
{
    width:30rem;
    height:18rem;
    object-fit: cover;
    border-radius:1.5rem 1.5rem 0 0;
      
}
img.idf 
{
width:30rem;
height:11rem; 
object-fit:cover;
border-radius:1.5rem 1.5rem 0 0;
}

.jumelé 
{       
display:flex;
flex-direction:column;
height:44.5rem;
width:30rem;
margin-left:4.4rem;
}

/*bloc containers cards*/
.acticard1
{
display:flex;
height:44.5rem;
width:30rem;
box-shadow:0 0 2rem #afaeaed7;
border-radius:1.5rem 1.5rem 0 0;

}
.acticard2
{
  display:flex;
  height:23.5rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;
}
.acticard3
{
  display:flex;
  height:16rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;
  margin-top:5rem;
}
.titleactivity
{
font-size:1.8rem;
margin:0.1rem 1.5rem 0 3rem;
}
.acticard4
{
  display:flex;
height:44.5rem;
width:30rem;
box-shadow:0 0 2rem #afaeaed7;
border-radius:1.5rem 1.5rem 0 0;
}
.jumelé2
{
  display:flex;
flex-direction:column;
height:44.5rem;
width:30rem;
margin-left:4.4rem;
}
.acticard5
{
  display:flex;
  height:23.5rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;

}
.acticard6
{
  display:flex;
  height:16rem;
  width:30rem;
  box-shadow:0 0 2rem #afaeaed7;
  border-radius:1.5rem 1.5rem 0 0;
  margin-top:5rem;
}
img.parc_calanques
{
  height:39rem;
    width:30rem;
    border-radius:1.5rem 1.5rem 0 0;
    object-fit:cover;
}
img.ndg
{
  width:30rem;
    height:18rem;
    object-fit: cover;
    border-radius:1.5rem 1.5rem 0 0;
      
}
img.parc
{
  width:30rem;
height:11rem; 
object-fit:cover;
border-radius:1.5rem 1.5rem 0 0;
}
/*footer*/
footer h3 
{
  font-size:1.8rem;
}

.endbloc
{
  display:flex;
  justify-content:space-around;
  background-color: #F2F2F2;
  margin-top: 8rem;
  width:80%;
  margin-left:20rem;
}
.column_footer1,.column_footer2,.column_footer3
{
  line-height:2.5rem;
  display:flex;
  flex-direction:column;
}
a.link_footer 
{
  display:block;
  color:black;
  text-decoration:none;
}
footer h3
{
  display:flex;
  justify-content:center;
}
@media screen and (max-width: 600px) 
{  
/*header*/
.bloc_page
{
  margin:0;
  padding:0;
  border:solid green 0.2rem;
 }
header
{
display:flex;
flex-wrap:wrap;
}
nav
{
order:3;
flex:1;
} 
nav ul a:hover {
color: inherit;
}
nav ul li {
padding-top: 37px;
padding-bottom: 15px;
margin-right: 0;
flex-basis:50%;
text-align: center;
border-bottom: 3px solid #f1eeee;
border-top: none;
color:#0065fc;
}
nav ul li:hover {
  border-top: none;
  border-bottom-color: #0065fc;
}

#logo
{
margin-left:2.5rem;
padding-top:2.5rem;
flex:1;
}
/*Barre de recherche*/
#barre
{

width:90%;
margin-top:4rem;
margin-bottom:4rem;

}
#barre i.fas.fa-search 
{
display:block;
padding-top:2rem;
border-radius:20%;
background-color:#0065FC;
}
#barre .rechercher 
{
display:none;
}
.rechercher
{
border-radius:1rem;
}
h1
{
margin-bottom:1rem;
margin-top:1rem;
font-size:2.4rem;
width:90%;
text-align:center;
padding-left: 1.5rem;
}
.descrip
{
padding-left:1.7rem;
}
#barre i.fa-map-marker-alt
{
margin-left:2rem;
padding: 0 1.5rem;
}
 /*filters*/
 .all_filters
 {
   margin-left:1rem;
 } 
 #filters {
  width: 100%;
  margin-left: 1rem;
}
  /* -------------------hebergements & populaires---------------- */

  section.bloc_heberg_popu {
    margin-left:2rem;
    width: 100%;
  }

  .bloc_heberg_popu aside {
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .bloc_heberg_popu article {
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 0rem;
    background-color: #fff;
  }

  .hosting_cards {
    flex: 100%;
  }
  article
  {
    flex:100%;
  }

  .popular_cards {
    
    display:flex;
    flex-wrap:wrap;
  }
  #main2
  {
  display:flex;
  flex-wrap:wrap;
  }

  .activites1,.activites2
  {
    margin:0 3rem;
  }
  .activites1 img,.activites2 img
  {
    height:15rem;
  }


}